.forms{
  margin-left: 20%;
  margin-right: 10%;
  border: 1px solid black;
  width: 250px;
  height: 500px;
  margin-top: 50px;
  padding: 20px;
}

#headline{
  text-align: center;
  margin: 0px;
}

.box{
  display: flex;
}

th,td{
  padding: 5px;
  background-color:  rgb(200,50,89);;
  height: 35px;
  color: white;
  font-size: 25px;
  font-weight: 400;
  font-family:sans-serif;
}